
*.cs
*.cs
EMS-Final-Lorenzo's Group/Ember Medical Services/ViewAppointments.Designer.cs
*.cs
*.cache
EMS-Final-Lorenzo's Group/Ember Medical Services/obj/Debug/edmxResourcesToEmbed/EmberMedicalServicesDB.csdl
*.Config
*.Config
*.dll
